html,
body {
	width:100vw;
	height:100vh;
	margin:0;
	padding:0;

	font-family: "Roboto", "Helvetica", sans-serif;
	overflow: hidden;
}


body {
	color: #FFF;
	font-size: 3vh;
	background-color: #000;
}

* {
	vertical-align: middle;
}

#progress {
	height: 100%;
	width: 100%;
}

#progress .progressbar-label {
	z-index: 1;
	left: 0;
	height: 24px;
	text-align: center;
	padding-top: 5px;

	width: 100%;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	font-size: 1em;
}

h3.info {
	font-size: 18pt;
	font-weight: bold;
	margin: 0;
	padding: 0;
	line-height: 20pt;
}

h3.info .label{
	text-transform: uppercase;
}


.hidden {
	display: none;
}
