{{#section 'head'}}
<link rel="stylesheet" href="/assets/css/progress.css" />
{{/section}}


<div id="progress" class="mdl-progress mdl-js-progress"></div>


{{#section 'head'}}
<script src="/assets/scripts/progress.js"></script>
{{/section}}
